*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
:root{
    --clr-orange: #ffa500;
    --clr-white: #fff;
    --clr-dark-white: #f3f7f7;
    --clr-dark-blue: #011137;
    --clr-dark: #000;
    --clr-gray: rgb(55, 54, 54);
    --clr-dark-gray: rgb(118, 116, 116);
    --clr-floral-white: rgb(218, 216, 213);
}
body{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 18px;
}
.upperSection{
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
.upperTabs{
    display: flex;
    justify-content: space-between;
}
.secondTabs{
    margin-top: 30px;
    background-color: transparent;
}
.mainInfo{
    display: flex;
}
.mainInfo h3{
    margin-left: 15px;
    font-size: 15px;
}
#centerImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.formation{
    display: flex;
    justify-content: space-between;
    padding-top: 10px; 
    font-size: 14px;
    position: relative;
    bottom: 20px;
}
.formation small{
    margin-left: 65px;
}
.fa-solid{
    margin-left: 5px;
}
.account-Container{
    max-width: 400px;
    height: 80px;
    background-color: var(--clr-dark-gray);
    border-radius: 10px;  
    margin-top: 10px;
    margin-left: 45px;
    padding: 15px;
}
.account-Container span{
    font-size: 15px;
    margin-left: 4px;
}
.account-bal{
    margin-top: 5px;
    font-weight: bold;
    display: none;
}
#hide-Icon:hover{
    font-size: 15px;
    color: var(--clr-dark-blue);
}
/* Lower section container style */
.othersIn{
    scroll-behavior: smooth;
    /* overflow-y: scroll; */
    background-color: var(--clr-floral-white);
    margin-top: 230px;
    min-height: 750px;
}
.LowerSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    /* background-color: var(--clr-dark-white); */
    background-color: var(--clr-floral-white);
    /* grid-column-gap: 10px;
    grid-row-gap: 1px; */
}
.LowerSection > div{
    margin: 20px;
}
.LowerSection  i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--clr-orange);
    padding: 10px;
    background-color: var(--clr-white);
    text-align: center;
    border: 2px solid rgb(235, 233, 233);
    /* box-shadow:  0 0 25px var(--clr-white); */
}
.LowerSection i:hover{
    background-color: rgb(245, 243, 241);
    cursor: pointer;
}
.LowerSection p{
    margin: 10px;
    font-size: 13px;
    /* text-align: center; */
    position: relative;
    position: relative;
    right: 4px;
}
.LowerSection h4{
    font-size: 14px;
    margin-top: 10px;
    margin-left: -30px;
}
.LowerSection p:hover{
    font-weight: bold;
    cursor: grab;
}
.loansdata{
    position: relative;
    left: 2px;
}
.virtuals{
    position: relative;
    left: -20px;
}
.virtual{
    position: relative;
    left: -10px;
}
.chart{
    background-color: var(--clr-floral-white);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 14px;
}
.chart i{
    font-size: 10px;
}
#mainYellow{
    color: var(--clr-orange);
}
.accountSummary{
    padding: 15px;
    display: flex;
    font-size: 14px;
}
.accountSummary .days{
    margin-left: 10px;
}
.pricechart1{
    padding: 15px;
    font-size: 14px;
}
.pricechart1 hr{
    border-style: none;
    border-top-style: dashed;
    max-width: 280px;
    border-width: 2px;
    position: relative;
    left: 50px;
    bottom: 10px;
    color: gray;
}
.accountCharts{
    display: flex;
    justify-content: center;
    height: 100px;
    overflow-y: hidden;
    background-color: var(--clr-dark);
    position: relative;
}

.BarChart1{
    background-color: var(--clr-dark-blue);
    height: 60px;
    width: 35px;
    position: absolute;
    left: 90px;
    bottom: -140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.BarChart2{
    background-color: var(--clr-orange);
    height: 60px;
    width: 35px;
    position: absolute;
    left: 110px;
    bottom: -140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.BarChart3{
    background-color: var(--clr-dark-blue);
    height: 240px;
    width: 35px;
    position: absolute;
    left: 170px;
    bottom: -140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.BarChart4{
    background-color: var(--clr-orange);
    height: 240px;
    width: 35px;
    position: absolute;
    left: 185px;
    bottom: -140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.BarChart5{
    background-color: var(--clr-dark-blue);
    height: 30px;
    width: 35px;
    position: absolute;
    left: 245px;
    bottom: -140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.BarChart6{
    background-color: var(--clr-orange);
    height: 30px;
    width: 35px;
    position: absolute;
    left: 260px;
    bottom: -140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.BarChart7{
    background-color: var(--clr-dark-blue);
    height: 170px;
    width: 35px;
    position: absolute;
    left: 320px;
    bottom: -140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}




.taskBarSection{
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* text-align: center; */
    
}
.taskBarSection i{
    font-size: 20px;
}
.taskBarSection i:hover{
    color: var(--clr-orange);
    transition: .3s;
    cursor: pointer;
}
.taskBarSection > div p{
    font-size: 15px;
}
.taskBarSection > div .home, .beneficiary, .frequent, .setting{
    position: relative;
    left: -3px;
}
@media screen and (min-width: 0px) and (max-width: 300px){
    .othersIn{
        margin-top: 250px;
    }
    .pricechart1 hr{
        max-width: 200px;
    }
    .taskBarSection p{
        padding: 0;
        font-size: 13px;
        position: relative;
        left: -20px;
        top: 20px;
        bottom: 10px;
        margin-bottom: 25px;
    }
    .taskBarSection{
        padding: 3px;
    }
    .taskBarSection i{
        font-size: 15px;
    }
    .taskBarSection > div p{
        padding: 2px;
        font-size: 13px;
       margin-left: 10px;
    }
    .taskBarSection > div .home{
      position: relative;
      left: -10px;
    }
}