*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-orange: #ffa500;
    --clr-white: #fff;
    --clr-dark-blue: #1100fe;
    --clr-dark: #000;
}
body{
    font-family: 'Asap Condensed', sans-serif;
    font-size: 15px;
    /* font-weight: bold; */
    background: url(../images/galaxybg.jpg) no-repeat center/cover;
    min-height: 100vh;
    overflow-y: hidden;
}
.parent{
    margin-left: 30px;
    margin-right: 30px;
}
.upper{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding: 10px;
}
.iconNotifucation i{
    position: relative;
    left: 10px;
    top: 10px;
    color: var(--clr-white);
    font-size: 20px;
    margin-top: 10px;
}
.fbLogo{
    width: 400px;
}

.boxesGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 5px; */
    /* row-gap: 2px; */
    grid-column-gap: 10px;
    grid-row-gap: 1px;
}
.boxesGrid > div{
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: var(--clr-dark);
    color:  var(--clr-white);
    text-align: center;
    padding: 10px;
    position: relative;
    top: 30px;
}
.boxesGrid > div i{
    color: var(--clr-orange);
    font-size: 25px;
    margin: 10px;
}
.createPin{
    background-color: var(--clr-dark);
    border-radius: 7px;
    margin-top: 15px;
    padding: 10px;
    color: var(--clr-white);
    position: relative;
    top: 20px;
    /* left: -20px; */
    /* right: 13px; */
    min-height: 100px;
    /* min-width: 340px; */
}
#case{
    width: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--clr-white);
    background: transparent;
    padding-bottom: 10px;
    margin: 5px;
    outline: none;
    position: relative;
    top: 20px;
    color: var(--clr-white);
    text-align: center;
}
#case:hover{
    border-bottom: 2px solid var(--clr-orange);
    transition: .7s;
}
.login{
    background-color: var(--clr-dark);
    position: relative;
    top: 20px;
    /* right: 13px; */
    border-radius: 7px;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: var(--clr-white);

}
.login i{
    /* color: var(--clr-orange); */
    font-size: 20px;
    margin-left: -10px;
}
.login a{
    margin-left: 15px;
    color: var(--clr-white);
    text-decoration: none;
}
.info{
    color: var(--clr-white);
    margin-top: 35px;
    font-size: 10px;
    text-align: center;

}
@media only screen and (min-width: 100px) and (max-width: 700px){
    .fbLogo{
        width: 200px;
        text-align: center;
        margin-left: 45px;
    }
}
